* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9d9c0;
}
#logo {
  background-color: #bdbdac;
  position: absolute;
  top: 25%;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
